<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crane.answer.mapper.InterviewBankQuestionMapper">

    <resultMap id="BaseResultMap" type="com.crane.answer.model.po.InterviewBankQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="interviewQuestionBankId" column="interview_question_bank_id" jdbcType="BIGINT"/>
            <result property="interviewQuestionId" column="interview_question_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,interview_question_bank_id,interview_question_id,
        user_id,create_time,update_time
    </sql>
</mapper>
